---
    eleventyNavigation:
        key: Home
    pagination:
        data: collections.post
        size: 4
        reverse: true
        generatePageOnEmptyData: true
        alias: posts
    addAllPagesToCollections: true
    layout: 'home.liquid'
    title: 'Home'
    style: '
        main {
            width: 100%;
            margin-inline: auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        @media (min-width: 780px){
          main{
            grid-template-columns: 1fr 1fr;
          }
        }
        article {
            padding: 0.5rem;
            display: grid;
            gap: 1rem;
            width: 80%;
            margin-inline: auto;
        }
        article:not(:last-child) {
            margin-bottom: 1rem;
        }
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        span {
            font-size: 0.7rem;
        }
        h3 {
            text-decoration: none;
        }
    '
---


{% assign len = posts | size %}
{% if len < 1 %}
  <main>No Posts Yet. Come Back Soon.</main>
{% else %}
  <ol style="display: flex; gap: 1rem; margin-left: auto; width: fit-content; margin-right: 1rem; margin-block: 1rem;">

    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" style="text-decoration: none;">&LeftAngleBracket;</a>
    {% endif %}

    {% for pageEntry in pagination.pages %}
      <li style="list-style: none; display: inline;">
        {% if page.url != pagination.hrefs[forloop.index0] %}
          <a href="{{ pagination.hrefs[ forloop.index0 ] }}"aria-current="page">
            Page {{ forloop.index }}
          </a>
        {% else %}
          Page {{ forloop.index }}
        {% endif %}
      </li>
    {% endfor %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" style="text-decoration: none;">&RightAngleBracket;</a>
    {% endif %}
  </ol>


  <main>
    {% for post in pagination.items %}
      <article>
        <header>
          <h3>
            <a href={{post.url}}>
              {{ post.data.title }}
            </a>
          </h3>
        </header>
        <p>{{ post.data.desc }}</p>

        {% assign tags = post.data.tags | getTags %}
        {% assign tags_len = tags | size %}
        {% if tags_len > 0 %}
          <small aria-roledescription="post tags" style="display: flex; gap: 0.2rem; flex-wrap: wrap;">
            {% for tag in tags %}
              <a href="/tags/{{ tag }}/">
                #{{ tag }}
              </a>
            {% endfor %}
          </small>
        {% endif %}

        <span aria-roledescription="post date" style="display: flex; gap: 0.3rem;">
          {{ post.date | date: '%A' }} &middot;
          {{ post.date | date: ' %B %d, %Y' }} &middot;
          {{ post.date | date: ' %H:%M:%S' }}
        </span>
      </article>
    {% endfor %}
  </main>
{% endif %}